<h1>Listing favinios</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favinios.each do |favinio| %>
  <tr>
    <td><%= favinio.title %></td>
    <td><%= favinio.description %></td>
    <td><%= link_to 'Show', favinio %></td>
    <td><%= link_to 'Edit', edit_favinio_path(favinio) %></td>
    <td><%= link_to 'Destroy', favinio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Favinio', new_favinio_path %>
